@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
a {color: inherit; text-decoration: none;}
.wrapper {max-width: 800px; margin: auto;}
.text-wrap {text-align: center;}
.text-wrap .title {font-size: 1.75em; letter-spacing: 0.125em;}
.text-wrap .sub {margin: 1.875em 0 1.5em; font-style: italic; color: #999; font-family: 'Lato', sans-serif; letter-spacing: -0.025em;}

/* *********.header-wrapper******** */
.header-wrapper .navi-wrapper {display: flex; justify-content: space-between; background-color: #111; color: #f9f9f9; align-items: center;}
.header-wrapper .navi-wrap {display: flex;}
.header-wrapper .navi-wrap > li, .search {padding: 1em 1.5em; cursor: pointer;}
.header-wrapper .navi-wrap > li:hover {background-color: #ccc; color: #000;}
.header-wrapper .search:hover {background-color: #f44236;}
.header-wrapper .navi-wrap .sub-navi {display: none;}
.header-wrapper .swiper-slide {position: relative;}
.header-wrapper .swiper-slide img {width: 100%;}
.header-wrapper .title-wrap {position: absolute; bottom: 10%; left: 50%; transform: translateX(-50%); color: #f9f9f9; text-align: center;}
.header-wrapper .title-wrap .title {margin-bottom: 1em; font-size: 1.5em;}
.header-wrapper .title-wrap .content {font-weight: bold;}

/* *********.band-wrapper******** */
.band-wrapper {margin-top: 5em; padding: 2%;}
.band-wrapper .text-wrap .content {text-align: justify; font-family: 'Lato', sans-serif; line-height: 1.5;}
.band-wrapper .img-wrapper {display: flex; padding: 4em 1.5em;}
.band-wrapper .img-wrap {flex: 22% 0 0; margin: 0 5.6666%;}
.band-wrapper .img-wrap .title {display: block; text-align: center; margin: 1em; font-size: 0.875em;}
.band-wrapper .img-wrap img {width: 100%;}

/* *********.tour-wrapper******** */
.tour-wrapper {background-color: #000; color: #f9f9f9; margin-top: 4em; padding: 2%;}
.tour-wrapper .text-wrap {margin-top: 3.5em;}