@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
body {font-family: 'Lato', sans-serif;}
input {box-sizing: border-box;}
a {color: inherit; text-decoration: none;}
.wrapper {max-width: 800px; margin: auto;}
.text-wrap {text-align: center;}
.text-wrap .title {font-size: 1.75em; letter-spacing: 0.125em; display: inline-block;}
.text-wrap .sub {margin: 1.875em 0 1.5em; font-style: italic; color: #999;  letter-spacing: -0.025em;}
.bt {background-color: #111; padding: 0.6em 0.9em; margin-top: 1em; color: #fff; text-align: center; width: 120px; letter-spacing: -0.0125; cursor: pointer;}
.bt:hover {background-color: #ccc; color: #111;}

/* *********.header-wrapper******** */
.header-wrapper .navi-wrapper {display: flex; justify-content: space-between; background-color: #111; color: #f9f9f9; align-items: center; position: relative; z-index: 10; position: fixed; width: 100%;}
.header-wrapper .navi-wrap {display: flex;}
.header-wrapper .navi-wrap > li, .search, .bars {padding: 1em 1.5em; cursor: pointer;}
.header-wrapper .navi-wrap > li:hover {background-color: #ccc; color: #000;}
.header-wrapper .search:hover {background-color: #f44236;}
.header-wrapper .bars {display: none;}
.header-wrapper .bars:hover {background-color: #ccc; color: #000;}
.header-wrapper .navi-wrap > li:last-child {position: relative;}
.header-wrapper .navi-wrap .sub-navi {display: none; position: absolute; background-color: #f9f9f9;top: 3em; left: 0; color: #000;}
.header-wrapper .navi-wrap .sub-navi.active {display: block;}
.header-wrapper .navi-wrap .sub-navi > li {width: 170px; padding: 0.7em;}
.header-wrapper .navi-wrap .sub-navi > li:hover {background-color: #ccc;}
.header-wrapper .swiper-slide {position: relative;}
.header-wrapper .swiper-slide img {width: 100%;}

.header-wrapper .mo-navi {background-color: #111; position: absolute; left: 0; top: 3em; z-index: 5; width: 100%; display: none;}
.header-wrapper .mo-navi.active {display: block;}
.header-wrapper .mo-navi > li {padding: 1em 1.5em; cursor: pointer;}
.header-wrapper .mo-navi > li:hover {background-color: #ccc; color: #000;}

.header-wrapper .title-wrap {position: absolute; bottom: 10%; left: 50%; transform: translateX(-50%); color: #f9f9f9; text-align: center;}
.header-wrapper .title-wrap .title {margin-bottom: 1em; font-size: 1.5em;}
.header-wrapper .title-wrap .content {font-weight: bold;}

/* *********.band-wrapper******** */
.band-wrapper {margin-top: 4em; padding: 2%;}
.band-wrapper .text-wrap .content {text-align: justify;  line-height: 1.5;}
.band-wrapper .img-wrapper {display: flex; padding: 4em 0; flex-wrap: wrap;}
.band-wrapper .img-wrap {flex: 23% 0 0; margin: 0 5.1666%;}
.band-wrapper .img-wrap .title {display: block; text-align: center; margin: 1em;}
.band-wrapper .img-wrap img {width: 100%;}

/* *********.tour-wrapper******** */
.tour-wrapper {background-color: #000; color: #f9f9f9; margin-top: 2.5em; padding: 3%;}
.tour-wrapper .text-wrap {margin: 3.5em 1.5em;}
.tour-wrapper .mon-box {background-color: #f9f9f9; border: 1px solid #ccc; border-bottom: 0; height: 2.25em; padding: 0 2%; display: flex; align-items: center;}
.tour-wrapper .mon-box .mon {color: #444; display: inline-block; font-family: 'Lato';}
.tour-wrapper .mon-box .sold {background-color: #f34238; width: 70px; height: 22px; text-align: center; display: flex; justify-content: center; align-items: center; margin-left: 1.75em; letter-spacing: -0.025em; font-size: 0.875em;}
.tour-wrapper .mon-box:last-child {display: flex; justify-content: space-between;}
.tour-wrapper .mon-box:last-child .num {background-color: #222; border-radius: 50%; padding: 0.3em 0.5em;}
.tour-wrapper .img-wrapper {display: flex; width: 100%; margin: 2em 0 6em; flex-wrap: wrap;}
.tour-wrapper .img-wrap {flex: 31% 0 0; margin-right: 3.5%;}
.tour-wrapper .img-wrap:last-child {margin-right: 0;}
.tour-wrapper .img-wrap > a {background-color: #000}
.tour-wrapper .img-wrap img {width: 100%; position: relative; transition: all .3s;}
.tour-wrapper .img-wrap:hover img {opacity: 0.7;}
.tour-wrapper .img-wrap .tit-wrap {background-color: #f9f9f9; color: #111; padding: 7%;}
.tour-wrapper .tit-wrap .title {padding-top: 1em;}
.tour-wrapper .tit-wrap .date {margin: 1.5em 0; color: #999;}

/* *********.contact-wrapper******** */
.contact-wrapper .wrapper {margin-top: 4em; padding: 2%;}
.contact-wrapper .wrapper > .con {display: flex; justify-content: space-between; padding-top: 2em; flex-wrap: wrap;}
.contact-wrapper .contact-wrap {line-height: 1.7; font-size: 1.125em; flex: 50% 0 0;}
.contact-wrapper .contact-wrap i {margin-right: 0.5em; font-size: 0.875em;}

.contact-wrapper .note-wrap {flex: 50% 0 0; padding: 1%;}
.contact-wrapper .note-wrap input {border: 1px solid #ccc; padding: 0.7em; font-size: 0.875em;}
.contact-wrapper .note-wrap > .con {display: flex; justify-content: space-between; width: 100%; flex-wrap: wrap;}
.contact-wrapper .note-wrap .con .name {width: 48%; margin-right: 4%;}
.contact-wrapper .note-wrap .con .email {width: 48%;}
.contact-wrapper .note-wrap .message {width: 100%; margin-top: 0.5em;}
.contact-wrapper .note-wrap .bt-send {width: 80px; margin-left: auto; margin-top: 0.7em;}

.contact-wrapper img {width: 100%; margin-top: 6em;}
.contact-wrapper #map {width: 100%; height: 50vh; margin-top: 4em;}

/* *********.footer-wrapper******** */
.footer-wrapper {margin: 4em 0 4.5em; color: #777; text-align: center;}
.footer-wrapper .sns-wrap {margin-bottom: 1.75em;}
.footer-wrapper i {font-size: 1.5em; margin: 0 0.025em;}
.footer-wrapper .copyright {letter-spacing: -0.0125em; font-size: 0.9em;}
.footer-wrapper .copyright b {text-decoration: underline;}


/* *********반응형******** */
@media screen and (max-width: 575px){
	.header-wrapper .navi-wrap > li:not(:first-child) {display: none;}
	.header-wrapper .search {display: none;}
	.header-wrapper .bars {display: block;}
	.header-wrapper .swiper-slide .title-wrap {display: none;}

	.band-wrapper .img-wrap {flex: 60% 0 0; margin: auto; margin-bottom: 2em;}
	.band-wrapper .img-wrap:last-child {margin-bottom: 0;}

	.tour-wrapper .img-wrap {flex: 100% 0 0; margin: auto; margin-bottom: 1em;}

	.contact-wrapper .contact-wrap {flex: 100% 0 0; margin: auto; margin-bottom: 1em; padding: 2%;}
	.contact-wrapper .note-wrap {flex: 100% 0 0; margin: auto;}
	.contact-wrapper .note-wrap .con .name {width: 100%; margin: auto;}
	.contact-wrapper .note-wrap .con .email {width: 100%; margin: auto; margin-top: 0.5em;}
}